# Ignore Python virtual environments
.venv/
venv/
ENV/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore VSCode config (facultatif)
.vscode/

# Ignore data files
*.csv
*.tsv

# Ignore models
*.pkl
*.joblib
*.h5

# Ignore OS metadata
.DS_Store
Thumbs.db

# Ignore environnement virtuel recréé
tf-env/

# Fichiers compilés et binaires (souvent générés automatiquement)
*.pyd
*.so
*.dll

# Fichiers d'entêtes C/C++
*.h

# Fichiers de configuration ou caches
*.log
*.tmp
.cache/

# Ignorer environnement virtuel
tf-env/

# Ignorer dossiers spécifiques au projet
projects/02-TheHill/immo_eliza/cleaned/
projects/02-TheHill/immo_eliza/geojson/