<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Price Estimation</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        form { max-width: 600px; margin: auto; }
        label { display: block; margin-top: 12px; }
        input, select { width: 100%; padding: 8px; margin-top: 4px; }
        button { margin-top: 20px; padding: 10px 15px; cursor: pointer; }
        .result { margin-top: 30px; font-size: 18px; font-weight: bold; text-align: center; }
    </style>
</head>
<body>
    <h1>🏡 Property Price Estimator</h1>

    <p>Fill in the different features to obtain an estimation of the value of your property.<br>
        Be aware that the more info we are recieving, the more precised will be the estimation. <br>
        Make sure you fill in the required fields (indicated with the *).
    </p>

    <form method="post" action="/predict">
        <label>Living Area (m²):*</label>
        <input type="number" name="area" required>

        <label>Property Type:*
            <select name="property_type" id="property_type" required onchange="UpdateSubtypeOptions()">
                <option value="HOUSE">HOUSE</option>
                <option value="APARTMENT">APARTMENT</option>
            </select>
        </label><br>

        <label>Subtype of property:*
            <select name="subtype_of_property" id="subtype_of_property" required>
                <option value="">-- Please, selet property type first --</option>
            </select>
        </label><br>

        <label>Number of Rooms:*</label>
        <input type="number" name="rooms_number" required>

        <label>Zip Code:*</label>
        <input type="text" name="zip_code" required>

        <label>Land Area (m²):</label>
        <input type="number" name="land_area">

        <label>Garden:</label>
            <select name="garden">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

        <label>Garden Area (m²):</label>
        <input type="number" name="garden_area">

        <label>Full Address:</label>
        <input type="text" name="full_address">

        <label>Swimming Pool:</label>
            <select name="swimming_pool">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

        <label>Open Fire:</label>
            <select name="open_fire">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

        <label>Terrace:</label>
            <select name="terrace">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

        <label>Terrace Area (m²):</label>
        <input type="number" name="terrace_area">

        <label>Number of Facades:</label>
        <input type="number" name="facades_number">

        <label>Building Condition:</label>
            <select name="building_condition">
                <option value="GOOD">Good</option>
                <option value="AS NEW">As New</option>
                <option value="TO RENOVATE">To Renovate</option>
                <option value="TO BE DONE UP">To Be Done Up</option>
                <option value="JUST RENOVATED">Just Renovated</option>
                <option value="TO RESTORE">To Restore</option>
            </select>

        <label>Parking:</label>
            <select name="parking">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

        <label>EPC Score:</label>
            <select name="epcScore" id="epcScore" onchange="updateEpcColor()">
                <option value="1">A++</option>
                <option value="2">A+</option>
                <option value="3">A</option>
                <option value="4">B</option>
                <option value="5">C</option>
                <option value="6">D</option>
                <option value="7">E</option>
                <option value="8">F</option>
                <option value="9">G</option>
            </select>

            <div id="epcColorBox" style="margin-top:10px; padding:10px; border-radius:4px; text-align:center;">
            </div>


        <label>Heating Type:</label>
            <select name="heating_type">
                <option value="GAS">Gas</option>
                <option value="ELECTRIC">Electric</option>
                <option value="WOOD">Wood</option>
                <option value="FUELOIL">Fuel Oil</option>
            </select>

        <label>Flood Zone:</label>
            <select name="flood_zone_type">
                <option value="NON FLOOD ZONE">Non Flood Zone</option>
                <option value="POSSIBLE FLOOD ZONE">Possible Flood Zone</option>
                <option value="RECOGNIZED FLOOD ZONE">Recognized Flood Zone</option>
            </select>

        <label>Kitchen Type:</label>
            <select name="kitchen_types">
                <option value="NOT_INSTALLED">Not Installed</option>
                <option value="SEMI_EQUIPPED">Semi-equipped</option>
                <option value="INSTALLED">Installed</option>
                <option value="HYPER_EQUIPPED">Hyper-equipped</option>
            </select>

        <button type="submit">Estimate Price</button>
    </form>

    {% if prediction %}
        <div class="result">
            💰 Estimated Price: <strong>{{ prediction }} €</strong>
        </div>
    {% endif %}
</body>
</html>


<script>

    const subtypeOptions = {
        "HOUSE": ["HOUSE", "VILLA"],
        "APARTMENT": ["APARTMENT", "STUDIO", "DUPLEX", "PENTHOUSE"]
    };

        function UpdateSubtypeOptions() {
        const propertyType = document.getElementById("property_type").value;
        const subtypeSelect = document.getElementById("subtype_of_property");
    
        subtypeSelect.innerHTML = '';

         if (propertyType && subtypeOptions[propertyType]) {
            subtypeOptions[propertyType].forEach(function(subtype) {
                const option = document.createElement("option");
                option.value = subtype;
                option.text = subtype;
                subtypeSelect.appendChild(option);
            });
        } else {
            const option = document.createElement("option");
            option.value = "";
            option.text = "-- Sélectionnez d'abord le type de bien --";
            subtypeSelect.appendChild(option);
        }
    }

    function updateEpcColor() {
        const epcColors = {
            1: {color: '#3CB371', label: 'A++'},
            2: {color: '#3CB371', label: 'A+'},
            3: {color: '#3CB371', label: 'A'},
            4: {color: '#9ACD32', label: 'B'},
            5: {color: '#FFD700', label: 'C'},
            6: {color: '#FFA500', label: 'D'},
            7: {color: '#FF8C00', label: 'E'},
            8: {color: '#FF4500', label: 'F'},
            9: {color: '#B22222', label: 'G'}
        };
        const select = document.getElementById('epcScore');
        const selected = epcColors[select.value];
        const box = document.getElementById('epcColorBox');
        box.style.backgroundColor = selected.color;
        box.textContent = `Selected EPC: ${selected.label}`;
    }

    UpdateSubtypeOptions();
    updateEpcColor();
</script>